body {
    width: 100vw;
    height: 100vh;
    background: -webkit-gradient(linear, left top, right top, from(#2c2c2c), to(#000000));
    background: linear-gradient(to right, #2c2c2c, #000000);
    margin: 0;
    padding: 0;
    color: white;
}

body #app {
    width: 60vw;
    height: 70vh;
    margin: 10vh auto auto;
    padding-top: 1vh;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 10px;
}

body #app .cont {
    margin-left: 5vh ;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #7f7f7f;
}

.chat {
    margin: auto;
    height: 65vh;
    width: 30vw;
    background: cadetblue;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.chat header {
    background: #205555;
    padding: 10px;
    text-align: center;
}

.chat main {
    padding-left: 15px;
    overflow-y: scroll;
    font-size: 20px;
}

.chat footer form {
    display: flex;
    align-items: stretch;
}

.chat footer form input {
    flex: 1;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

.home-btn {
    margin-left: 5vh;
    margin-top: 5vh;
    background: #7575b8;
    width: 10vh;
    font-size: 15px;
    font-weight: bold;
}

.home-btn:hover {
    background: #7575b8;

}

/* Feedback */
.feedback {
    color: red;
    font-weight: bold;
}

